# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why? Yes
2. How many neighborhood groups are available and which shows up the most? Yes
3. Are private rooms the most popular in manhattan? Yes
4. Which hosts are the busiest and based on their reviews? 
5. Which neighorhood group has the highest average price? Yes
6. Which neighborhood group has the highest total price? Yes
7. Which top 5 hosts have the highest total price? Yes
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located? Yes
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [245]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [34]:
df = pd.read_csv('../files/AB_NYC_2019.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [250]:
"""
QUESTIONS 1 and 4 SEEMS TO BE THE SAME, SO I AM OFFERING THIS ANSWER FOR BOTH


The five busiest hosts have an average stay of 1-2 days assuming full occupancy.  I can make sense of 
top 2-5, but I can't really understand how someone can turn over a room twice per day without engaging in
some kind of illict activity.  

The common feature for these places are they are private rooms (which makes the cleaning / preparing easier) since
someone lives on site.  The price, except for #2, is a good value so that is attractive to guests.  I'm guessing 
all these are professionally managed as two of these host have multiple properties in the top 5.


"""



df.sort_values(by=['reviews_per_month'], ascending = False)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
42075,32678719,Enjoy great views of the City in our Deluxe Room!,244361589,Row NYC,Manhattan,Theater District,40.75918,-73.98801,Private room,100,1,156,2019-07-07,58.50,9,299
42076,32678720,Great Room in the heart of Times Square!,244361589,Row NYC,Manhattan,Theater District,40.75828,-73.98876,Private room,199,1,82,2019-07-07,27.95,9,299
38870,30423106,Lou's Palace-So much for so little,228415932,Louann,Queens,Rosedale,40.65417,-73.74158,Private room,45,1,37,2019-07-08,20.94,1,134
27287,21550302,JFK Comfort.5 Mins from JFK Private Bedroom & ...,156684502,Nalicia,Queens,Springfield Gardens,40.66110,-73.76830,Private room,80,1,403,2019-07-06,19.75,3,26
28651,22176831,JFK 2 Comfort 5 Mins from JFK Private Bedroom,156684502,Nalicia,Queens,Springfield Gardens,40.66158,-73.77050,Private room,50,1,341,2019-07-08,17.82,3,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22982,18612788,Awesome loft with Amazing views,14444,John,Brooklyn,Bedford-Stuyvesant,40.69321,-73.95599,Entire home/apt,150,4,0,NaN,NaN,2,0
23089,18692321,Amazing loft with a great view,14444,John,Brooklyn,Bedford-Stuyvesant,40.69347,-73.95500,Entire home/apt,126,20,0,NaN,NaN,2,0
42353,32865732,Park views and city fun for July & August,11175,Teri,Brooklyn,Prospect-Lefferts Gardens,40.66220,-73.96208,Entire home/apt,130,30,0,NaN,NaN,1,129
36,11452,Clean and Quiet in Brooklyn,7355,Vt,Brooklyn,Bedford-Stuyvesant,40.68876,-73.94312,Private room,35,60,0,NaN,NaN,1,365
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365

In [112]:
borough_group = df.groupby(['neighbourhood_group'])
manhattan = borough_group.get_group('Manhattan')
brooklyn = borough_group.get_group('Brooklyn')
queens = borough_group.get_group('Queens')

In [287]:
# How many neighborhood groups are available and which shows up the most?

"""
Analyzed by neighborhood group, which is really a borough.  I'll answer in this way as this is how the
question has been asked.  But I think it would be more valuable to answer the question based on the
221 neighborhoods that AirBnB dosaggregates NYC into.  

"""

borough_table = df.groupby('neighbourhood_group').count().sort_values('id',ascending=False)['id']
borough_table.index.rename('Borough', inplace=True)
borough_table
#borough_table.sort_values(by=['id'], ascending = False)


#there are 5 neighbourhood groups (Boroughs) in NYC
#Manhattan (21,652) has slightly more listings than Brooklyn (20,104) on an absoulte basis, by even more so on a per-capital basis
#The Bronx and Staten Island are a very distant 4th and 5th (each less than 1,000).

Borough
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: id, dtype: int64

In [262]:
#however, I noticed that 3 of the 5 most popular neighborhoods in NYC were in Brooklyn, so it made sense to see to measure
#the number of reviews by borough.  On absolute basis, Brooklyn is SLIGHTLY MORE popular with 487k reviews compared to
# 455k reviews in Manhattan but on a per capita basis Manhattan is more popular

total_man = manhattan['number_of_reviews'].sum()
total_man

total_bklyn = brooklyn['number_of_reviews'].sum()
total_bklyn

486574

In [252]:
"""
I created two columns, one with the borough population and a second with a per capita population.  
This allows us to see listings on a per capita basis, showing Manhattan is more popular than Manhattan

"""



data = {'Borough': ['Bronx', 'Brookyln', 'Manhattan', 'Queens', ' Staten Island'],
        'Listings': [1091, 20104, 21661, 5666, 373],
        'Population' : [1418000, 2559000, 1628000, 2253000, 476143]
        
       }

df_capita = pd.DataFrame(data)

df_capita['Listings_per_100k_Pop'] = df_capita.Listings / (df_capita.Population / 100000)

df_capita.sort_values(by=['Listings'], ascending = False)

# plt.hist('Listings_per_100k_Pop', density = True, bins = 5)
# plt.ylabel('Listings')
# plt.xlabel('Per 100,000')
# plt.show()

          Borough  Listings  Population  Listings_per_100k_Pop
2       Manhattan     21661     1628000            1330.528256
1        Brookyln     20104     2559000             785.619383
3          Queens      5666     2253000             251.486906
0           Bronx      1091     1418000              76.939351
4   Staten Island       373      476143              78.337810

In [291]:
neighborhood_pop = df.groupby('neighbourhood').count()
counts = neighborhood_pop.sort_values(by=['id'], ascending = False)['id']
counts.head(10)

#There are 221 neighborhoods in NYC
#The 5 most popular neighborhoods are (1) Williamsburg(BK), (2) Bed-Stuyvesant(BK); (3) Harlem(MAN), 
#(4) Bushwick(BK), (5) Upper West Side(MAN)

neighbourhood
Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
Hell's Kitchen        1958
East Village          1853
Upper East Side       1798
Crown Heights         1564
Midtown               1545
Name: id, dtype: int64

In [130]:
# Are private rooms the most popular in manhattan?

#Private rooms are NOT the most popular.   Entire apts/ houses outnumber almost 2:1

borough_group = df.groupby(['neighbourhood_group'])
manhattan = borough_group.get_group('Manhattan')
manhattan['room_type'].value_counts()

Entire home/apt    13199
Private room        7982
Shared room          480
Name: room_type, dtype: int64

In [161]:
"""
Although there are many more listings for entire homes / apartments relative to private rooms, I did notice that hosts
with the largest number of bookings operate private rooms.  So I analyzed the number_of_reviews (as a proxy for stays) 
for both private rooms and entire places.  See the results below.

"""


#man_private_rooms = 
x = manhattan[manhattan.room_type == 'Private room']
y = x['number_of_reviews'].sum()


a = manhattan[manhattan.room_type == 'Entire home/apt']
b = a['number_of_reviews'].sum()
b



print(f'In Manhattan, the number of reviews for entire homes/apts was {b} compared to the number of reviews for')
print(f'private rooms {y}.  While entire homes are still more popular than private rooms, it is not as pronounced as it is for listings')

In Manhattan, the number of reviews for entire homes/apts was 235147 compared to the number of reviews for
private rooms 209150.  While entire homes are still more popular than private rooms, it is not as pronounced as it is for listings

In [229]:
#Which neighorhood group has the highest average price?
#Manhattan has the highest price of any Borough

highest_mean_borough = df.groupby('neighbourhood_group').mean().round(decimals=2)[['price']]
highest_mean_borough.sort_values(by=['price'], ascending = False)

                      price
neighbourhood_group
Manhattan            196.88
Brooklyn             124.38
Staten Island        114.81
Queens                99.52
Bronx                 87.50

In [228]:
#For good measure, will also analyze by median price since this can eliminate outliers.  The difference is still
#signficant, but not to the same degree.  This indicates Manhattan may have some very expensive properties

highest_median_borough = df.groupby('neighbourhood_group').median().round(decimals=2)[['price']]
highest_median_borough.sort_values(by=['price'], ascending = False)

                     price
neighbourhood_group
Manhattan            150.0
Brooklyn              90.0
Queens                75.0
Staten Island         75.0
Bronx                 65.0

In [227]:
highest_mean_neighborhood = df.groupby('neighbourhood').mean().round(decimals=2)[['price']]
highest_mean_neighborhood.sort_values(by=['price'], ascending = False)

#I would eliminate Fort Wadsworth and Woodrow since they are the result of one booking, which 
#is insufficient for such a large sample size.

                 price
neighbourhood
Fort Wadsworth  800.00
Woodrow         700.00
Tribeca         490.64
Sea Gate        487.86
Riverdale       442.09
...                ...
New Dorp         57.00
Soundview        53.47
Tremont          51.55
Hunts Point      50.50
Bull's Head      47.33

[221 rows x 1 columns]

In [231]:
highest_median_neighborhood = df.groupby('neighbourhood').median().round(decimals=2)[['price']]
highest_median_neighborhood.sort_values(by=['price'], ascending = False)

#I would eliminate Fort Wadsworth and Woodrow since they are the result of one booking, which 
#is insufficient for such a large sample size.

                price
neighbourhood
Fort Wadsworth  800.0
Woodrow         700.0
Tribeca         295.0
Neponsit        274.0
NoHo            250.0
...               ...
Corona           40.0
Hunts Point      40.0
New Dorp Beach   40.0
Castle Hill      39.0
Concord          34.5

[221 rows x 1 columns]

In [198]:
# Which neighborhood group has the highest total price
#This question must be in line with the quesion below.  As I discuss below, I don't think hardly any of these prices are
#real.  A host can have his/her room booked at $100/night and then raise the price to $10000/night.  I just do see anyone
#paying in the top 50 prices below.  Of the dataset, the most believable one would be:

#Rum in Tribeca for $8,500 / night.  This neighborhood group in TRIBECA.

In [243]:
"""

# I believe there is some bad data here and I don't see how all but the most exclusive place in the most exclusive neighborhood
# could rent for this price.  Several of these have two or even fewer ratings and should be excluded.  There's no way in 
# hell that someone is paying $10,000 for a private room in Astoria unless it's coming with a mountain of coke. The Greenpoint
# listing doesn't make much sense either.  The neighhboorhood has gentrified a bit since I lived there in the mid-90s,
# but there's no way this neighborhood can rank in the top 5. Here's the list that makes sense to me.  Same for the 
# private room in Flatbush.

# 1. Rum, Tribeca
# 2. Kevin, Chelsea,
# 3. Jay and Liz, UWS
# 4. Sally, UWS
# 5. Jessica, Clinton Hill


"""

#Which top 5 hosts have the highest total price?

#this question doesn't make sense as written.  Is the question which 5 listings have the highest total price,
#or which hosts (after averging their listings) have the highest total price. I'm going with the 5 listings

highest_price = df.sort_values(by=['price'], ascending = False)
highest_price.head(50)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2016-02-13,0.04,1,0
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.77213,-73.98665,Entire home/apt,10000,30,0,NaN,NaN,1,83
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.73260,-73.95739,Entire home/apt,10000,5,5,2017-07-27,0.16,1,0
40433,31340283,2br - The Heart of NYC: Manhattans Lower East ...,4382127,Matt,Manhattan,Lower East Side,40.71980,-73.98566,Entire home/apt,9999,30,0,NaN,NaN,1,365
12342,9528920,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,40.71355,-73.98507,Private room,9999,99,6,2016-01-01,0.14,1,83
6530,4737930,Spanish Harlem Apt,1235070,Olson,Manhattan,East Harlem,40.79264,-73.93898,Entire home/apt,9999,5,1,2015-01-02,0.02,1,0
30268,23377410,Beautiful/Spacious 1 bed luxury flat-TriBeCa/Soho,18128455,Rum,Manhattan,Tribeca,40.72197,-74.00633,Entire home/apt,8500,30,2,2018-09-18,0.18,1,251
4377,2953058,Film Location,1177497,Jessica,Brooklyn,Clinton Hill,40.69137,-73.96723,Entire home/apt,8000,1,1,2016-09-15,0.03,11,365
29662,22779726,East 72nd Townhouse by (Hidden by Airbnb),156158778,Sally,Manhattan,Upper East Side,40.76824,-73.95989,Entire home/apt,7703,1,0,NaN,NaN,12,146
45666,34895693,Gem of east Flatbush,262534951,Sandra,Brooklyn,East Flatbush,40.65724,-73.92450,Private room,7500,1,8,2019-07-07,6.15,2,179
42523,33007610,70' Luxury MotorYacht on the Hudson,7407743,Jack,Manhattan,Battery Park City,40.71162,-74.01693,Entire home/apt,7500,1,0,NaN,NaN,1,364
44034,33998396,3000 sq ft daylight photo studio,3750764,Kevin,Manhattan,Chelsea,40.75060,-74.00388,Entire home/apt,6800,1,0,NaN,NaN,6,364
48043,36056808,Luxury TriBeCa Apartment at an amazing price,271248669,Jenny,Manhattan,Tribeca,40.71206,-74.00999,Entire home/apt,6500,180,0,NaN,NaN,1,365
3774,2271504,SUPER BOWL Brooklyn Duplex Apt!!,11598359,Jonathan,Brooklyn,Clinton Hill,40.68766,-73.96439,Entire home/apt,6500,1,0,NaN,NaN,1,0
37194,29547314,Apartment New York \nHell’s Kitchens,35303743,Patricia,Manhattan,Upper West Side,40.76835,-73.98367,Private room,6500,30,0,NaN,NaN,1,97
29664,22780103,Park Avenue Mansion by (Hidden by Airbnb),156158778,Sally,Manhattan,Upper East Side,40.78517,-73.95270,Entire home/apt,6419,1,0,NaN,NaN,12,45
3537,2110145,UWS 1BR w/backyard + block from CP,2151325,Jay And Liz,Manhattan,Upper West Side,40.77782,-73.97848,Entire home/apt,6000,14,17,2015-02-17,0.27,1,359
15560,12520066,Luxury townhouse Greenwich Village,66240032,Linda,Manhattan,Greenwich Village,40.73046,-73.99562,Entire home/apt,6000,1,0,NaN,NaN,1,0
3720,2243699,"SuperBowl Penthouse Loft 3,000 sqft",1483320,Omri,Manhattan,Little Italy,40.71895,-73.99793,Entire home/apt,5250,1,0,NaN,NaN,1,0
43009,33397385,Midtown Manhattan great location (Gramacy park),16105313,Debra,Manhattan,Midtown,40.74482,-73.98367,Entire home/apt,5100,30,1,2019-06-22,1.00,2,343
38000,30035166,4-Floor Unique Event Space 50P Cap. - #10299B,172611460,Rasmus,Manhattan,Harlem,40.82511,-73.94961,Entire home/apt,5000,1,2,2019-02-23,0.38,2,150
4345,2919330,NearWilliamsburg bridge 11211 BK,14908606,Bianca,Brooklyn,Bedford-Stuyvesant,40.69572,-73.95731,Private room,5000,6,10,2016-01-02,0.16,1,363
26739,21238053,Broadway 1,153497815,Sarah-B,Brooklyn,Bedford-Stuyvesant,40.68742,-73.91957,Entire home/apt,5000,2,8,2017-12-09,0.38,1,0
22353,18051877,Victorian Film location,2675644,Alissa,Staten Island,Randall Manor,40.63952,-74.09730,Entire home/apt,5000,1,0,NaN,NaN,1,344
25825,20654227,Fulton 2,100069033,Sarah-2,Brooklyn,Cypress Hills,40.68185,-73.88128,Entire home/apt,5000,2,4,2018-01-03,0.18,1,0
2698,1448703,Beautiful 1 Bedroom in Nolita/Soho,213266,Jessica,Manhattan,Nolita,40.72193,-73.99379,Entire home/apt,5000,1,2,2013-09-28,0.03,1,365
4376,2952861,Photography Location,1177497,Jessica,Brooklyn,Clinton Hill,40.69127,-73.96563,Entire home/apt,4500,1,5,2018-12-29,0.09,11,365
46614,35345358,Northside Williamsburg Stunner,956324,Alex,Brooklyn,Williamsburg,40.71705,-73.96470,Entire home/apt,4500,30,0,NaN,NaN,1,365
45867,34981637,bay ridge & sunset park furnished apartment,263564234,Nony,Brooklyn,Bay Ridge,40.63087,-74.02006,Entire home/apt,4200,60,0,NaN,NaN,1,90
43670,33796251,Beautiful private Brooklyn room with kitchenette,8748976,Jeffrey,Brooklyn,Bedford-Stuyvesant,40.68807,-73.95426,Private room,4200,114,0,NaN,NaN,1,347
28947,22296197,"Chelsea Gallery for events, exhibitions, fashion",3750764,Kevin,Manhattan,Chelsea,40.74888,-74.00481,Entire home/apt,4160,1,0,NaN,NaN,6,364
42736,33171891,30 days minimum Time square West Midtown apart...,177396569,Yanina,Manhattan,Hell's Kitchen,40.76043,-73.99132,Entire home/apt,4100,30,0,NaN,NaN,3,180
1862,826690,"Sunny, Family-Friendly 2 Bedroom",4289240,Lucy,Brooklyn,Prospect Heights,40.67919,-73.97191,Entire home/apt,4000,4,0,NaN,NaN,1,83
21821,17537893,The Otheroom Bar/Event/Filming Space -read det...,18037301,James,Manhattan,West Village,40.73571,-74.00780,Entire home/apt,4000,1,0,NaN,NaN,1,173
3695,2224896,NYC SuperBowl Wk 5 Bdrs River View,11353904,Todd,Manhattan,Upper West Side,40.79476,-73.97299,Entire home/apt,4000,1,0,NaN,NaN,1,0
25901,20692563,Greenwich Village Townhome with Private Garden!,147814925,Lloyd,Manhattan,Greenwich Village,40.73300,-73.99413,Entire home/apt,3900,30,7,2018-03-13,0.32,1,180
17665,13882394,VIP Duplex Townhouse with Private Garden!!!,49186997,Joseph,Manhattan,Greenwich Village,40.73305,-73.99373,Entire home/apt,3800,30,2,2017-01-27,0.06,1,180
3788,2281142,Prime NYC Location for Super Bowl,1427243,Jordana,Manhattan,East Village,40.73323,-73.98859,Entire home/apt,3750,1,0,NaN,NaN,1,0
34851,27629043,A Night at Anchor Aboard Yacht Ventura,45863742,James,Manhattan,Battery Park City,40.71364,-74.01758,Entire home/apt,3750,1,0,NaN,NaN,1,365
42542,33029434,West 84th Street by (Hidden by Airbnb),156158778,Sally,Manhattan,Upper West Side,40.78545,-73.97123,Entire home/apt,3613,1,1,2019-06-15,1.00,12,158
37864,29964348,NYC HOLIDAY!!!! April 15- May 15,2039658,Pam,Manhattan,Upper East Side,40.76519,-73.96874,Entire home/apt,3600,31,0,NaN,NaN,1,358
29663,22779746,East 7th Street III by (Hidden by Airbnb),156158778,Sally,Manhattan,East Village,40.72779,-73.98644,Entire home/apt,3518,1,0,NaN,NaN,12,215
41216,32054910,West 88th Street by (Hidden by Airbnb),156158778,Sally,Manhattan,Upper West Side,40.78742,-73.97011,Entire home/apt,3512,1,0,NaN,NaN,12,124
28946,22296097,Chelsea Gallery Space for events and exhibitions,3750764,Kevin,Manhattan,Chelsea,40.74913,-74.00373,Private room,3210,1,0,NaN,NaN,6,364
39243,30589636,Furnished 1000sq large 2bed + office in Harlem,229458601,Kay,Manhattan,Harlem,40.81315,-73.95110,Entire home/apt,3200,90,0,NaN,NaN,1,365
38358,30206026,Massive Loft in the Heart of Union square,51340124,Nikki,Manhattan,Chelsea,40.73851,-73.99213,Entire home/apt,3000,2,0,NaN,NaN,2,0
18632,14730708,Breathtaking City Views 3 Bed Apt. in Lincoln Sq!,836168,Henry,Manhattan,Upper West Side,40.77910,-73.98182,Entire home/apt,3000,30,8,2016-12-10,0.24,11,365
946,363673,Beautiful 3 bedroom in Manhattan,256239,Tracey,Manhattan,Upper West Side,40.80142,-73.96931,Private room,3000,7,0,NaN,NaN,1,365
39846,30962126,CQ 1 Bedroom,30223355,Adrienne,Manhattan,Financial District,40.70706,-74.00991,Private room,3000,3,0,NaN,NaN,1,23
28727,22207357,The room boom,162116640,Tuvia,Brooklyn,Brighton Beach,40.58363,-73.96405,Private room,3000,1,0,NaN,NaN,1,90

In [308]:
# Who currently has no (zero) availability with a review count of 100 or more?

# simple pandas filtering. put a boolean expression inside the square brackets
# df[ df.availability_365 == 0 ]
df[ (df['availability_365'] == 0) & (df['number_of_reviews'] >= 100) ].groupby('host_id').first()

#162 listings or 148 hosts

,id,name,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_id,,,,,,,,,,,,,,,
7490,5203,Cozy Clean Guest Room - Family Apt,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
36897,282443,QT STUDIO FOR ROMANTIC COUPLES,Lydia,Manhattan,Chinatown,40.71601,-73.99123,Entire home/apt,90,3,107,2019-05-18,1.17,1,0
67778,45556,"Fort Greene, Brooklyn: Center Bedroom",Doug,Brooklyn,Fort Greene,40.68863,-73.97691,Private room,65,2,206,2019-06-30,1.92,2,0
79402,20913,Charming 1 bed GR8 WBurg LOCATION!,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0
116382,11684682,Bright sunny room in NYC!,Anthony,Brooklyn,Crown Heights,40.67031,-73.94088,Private room,29,2,142,2019-05-19,3.54,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142878742,20092506,Master room W OWN bathroom,Sam,Manhattan,East Harlem,40.79074,-73.94232,Private room,70,1,172,2019-06-24,7.27,3,0
143944704,20332555,Beautiful Apartment near Times Square Central ...,Ash,Manhattan,Theater District,40.76302,-73.98211,Entire home/apt,239,3,104,2019-06-22,4.53,1,0
159156636,21901156,Best Deal! Lovely place in Manhattan! Time Squ...,NaN,Manhattan,Hell's Kitchen,40.75656,-73.99063,Private room,120,1,109,2019-01-01,5.97,3,0
176185168,23574142,queens get away!!,Janet,Queens,Laurelton,40.68209,-73.73662,Private room,65,1,119,2018-12-24,7.79,1,0
209549523,27759146,Cozy corner near Empire State Building,Mariluz,Manhattan,Midtown,40.74858,-73.98341,Shared room,62,1,112,2019-06-13,10.77,3,0

In [ ]:
# What host has the highest total of prices and where are they located?

#This seems to be the 3rd different way this question has been asked.  The only believable price I saw for the
#50 highest prices is Rum from Tribeca at $8,500 / night.

In [323]:
# When did Danielle from Queens last receive a review?
danielle_queens = df [ (df['host_name'] == 'Danielle') & (df['neighbourhood_group'] == 'Queens') ]
s = danielle_queens.sort_values(by='last_review', ascending = False)
s.head(1)['last_review']

22469    2019-07-08
Name: last_review, dtype: object

## Further Questions

1. Which host has the most listings?

In [336]:
s = df.groupby('host_id').count().sort_values(by='id', ascending = False)
df[ df['host_id'] == s.index[0]].head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
47528,35793693,Sonder | 116 John | Cozy Studio + Laundry,219517861,Sonder (NYC),Manhattan,Financial District,40.70831,-74.00642,Entire home/apt,180,29,0,NaN,NaN,327,342

2. How many listings have completely open availability?

In [340]:
df[ (df['availability_365'] == 365) ].shape[0]

1295

3. What room_types have the highest review numbers?

In [343]:
df.groupby('room_type').sum()['number_of_reviews']

room_type
Entire home/apt    580403
Private room       538346
Shared room         19256
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --